body {
  background: #293f50; 
  color: #ccdbe5;
}



.text-written {
	max-width: 720px;
}

.container {
	padding-top: 40px;
	padding-bottom: 40px;
}

nav {
	padding right: 15px;
}

input {
	margin-top: 10px;
	margin-bottom: 20px;
}

input.btn {
	margin-bottom: 20px;
}

label {
	font-weight: normal;

}

#calculate-form {
	max-width: 420px;
	padding-bottom: 10px;
}

.result {
	max-width: 420px;
	padding-top: 10px;
}