body {
  background: #293f50; 
  color: #ccdbe5;
}

.text-written {
	max-width: 720px;
}

.container {
	padding-top: 40px;
	padding-bottom: 40px;
}

nav {
	padding right: 15px;
}

input {
	margin-top: 10px;
	margin-bottom: 20px;
}

#btn-worked {
	width: 76.96px;
	margin-bottom: 15px;
}

input.btn {
	margin-bottom: 20px;
}

label {
	font-weight: normal;
}

#calculate-form{
	max-width: 420px;
	padding-bottom: 10px;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance:textfield !important;
}

.result {
	max-width: 420px;
	padding-top: 10px;
}

#resultado strong {
	font-size: 125%;
}

.jumbotron {
	background-color: #293f50;
	padding: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.aviso {
	max-width: 420px;
}

#aviso-texto {
	margin-top: 20px;
}

input[type=date] {
    /*display:block;*/
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
}